<template>
  <VTextMarquee class="the-footer flex-wrap justify-between" :speed="duration">
    <span class="mx-5 text-lg font-bold">{{ clock }}</span>
    <span class="text-lg">{{ text }}</span>
  </VTextMarquee>
</template>

<script>
import { VTextMarquee } from "vue-text-marquee";
import moment from "moment";

export default {
  data() {
    return { clock: moment().format("LTS") };
  },
  name: "the-footer",
  props: {
    text: {
      type: String,
      default:
        "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna."
    },
    duration: {
      type: Number,
      default: 75
    }
  },
  components: { VTextMarquee },
  mounted: function() {
    setInterval(() => {
      this.clock = moment().format("LTS");
    }, 1000);
  }
};
</script>
