<template>
  <div class="relative">
    <div class="vx-navbar-wrapper">
      <vs-navbar class="vx-navbar navbar-custom" :color="navbarColor" :class="classObj">
        <feather-icon
          class="sm:inline-flex xl:hidden cursor-pointer mr-1"
          icon="MenuIcon"
          @click.stop="showSidebar"
        ></feather-icon>

        <template v-if="breakpoint != 'md'"></template>

        <vs-spacer></vs-spacer>

        <vx-tooltip text="Notifikasi" position="left" delay=".3s">
          <feather-icon
            icon="BellIcon"
            class="cursor-pointer mt-1 sm:mr-6 mr-2"
            :badge="unreadNotificationCount"
            @click="$router.push({name: 'notification'})"
          ></feather-icon>
        </vx-tooltip>

        <p v-if="!userDisplayName || !userDisplayPic || !userDisplayRole">Sedang memuat halaman...</p>
        <div class="the-navbar__user-meta flex items-center" v-else>
          <div class="text-right leading-tight hidden sm:block">
            <p class="font-semibold">{{ userDisplayName }}</p>
            <small>{{ userDisplayRole | format_upper }}</small>
          </div>
          <vs-dropdown vs-custom-content vs-trigger-click class="cursor-pointer">
            <div class="con-img ml-3">
              <img
                v-if="userDisplayPic.startsWith('http')"
                key="onlineImg"
                :src="userDisplayPic"
                alt="user-img"
                width="40"
                height="40"
                class="rounded-full shadow-md cursor-pointer block"
              />
              <img
                v-else
                key="localImg"
                :src="getUrl(userDisplayPic)"
                alt="user-img"
                width="40"
                height="40"
                class="rounded-full shadow-md cursor-pointer block"
              />
            </div>
            <vs-dropdown-menu class="vx-navbar-dropdown">
              <ul style="min-width: 9rem">
                <li
                  class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white"
                  @click="logout"
                >
                  <feather-icon icon="LogOutIcon" svgClasses="w-4 h-4" />
                  <span class="ml-2">Logout</span>
                </li>
              </ul>
            </vs-dropdown-menu>
          </vs-dropdown>
        </div>
      </vs-navbar>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { UI_IS_SIDEBAR_ACTIVE } from "@/store/mutation-types";
import { AUTH_LOGOUT } from "@/store/action-types";
import { API_URL } from "@/utils/common/config";

export default {
  name: "the-navbar",
  props: {
    navbarColor: {
      type: String,
      default: "#fff"
    }
  },
  data() {
    return {
      API_URL: API_URL,
      newNotificationsLength: 3
    };
  },
  computed: {
    ...mapGetters([
      "sidebarWidth",
      "breakpoint",
      "userDisplayName",
      "userDisplayPic",
      "userDisplayRole",
      "unreadNotificationCount"
    ]),
    classObj() {
      return {
        "navbar-default": this.sidebarWidth == "default",
        "navbar-reduced": this.sidebarWidth == "reduced",
        "navbar-full": this.sidebarWidth == "no-sidebar"
      };
    }

    // userToken() {
    //   return this.$store.state.token;
    // }
  },
  methods: {
    showSidebar() {
      this.$store.commit(UI_IS_SIDEBAR_ACTIVE, true);
    },
    logout() {
      const payload = {
        notify: this.$vs.notify
      };

      this.$store
        .dispatch(AUTH_LOGOUT, payload)
        .then(() => this.$router.push({ name: "login" }));
    },
    getUrl(val) {
      const url = require("url");
      return url.resolve(this.API_URL, val);
    }
  }
};
</script>
