<template>
  <div class="app-employee-form-edit" id="app-employee-form-edit">
    <div class="vx-row">
      <div class="vx-col w-full mb-base">
        <p v-if="!selectedEmployee">Sedang memuat halaman...</p>
        <vx-card v-else>
          <div class="text-center">
            <h4 class="font-medium">Halaman Ubah Data Pegawai</h4>
          </div>
          <div class="mt-10">
            <vs-divider>
              <div class="flex">
                <span class="mr-2">Identitas:</span>
                <vs-switch v-model="edit_identity" />
              </div>
            </vs-divider>
            <div class="vx-row">
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  :disabled="!edit_identity"
                  label="Gelar Depan"
                  v-model="employee_first_degree"
                  class="w-full"
                />
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  :disabled="!edit_identity"
                  label="Gelar Belakang"
                  v-model="employee_last_degree"
                  class="w-full"
                />
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  data-vv-validate-on="blur"
                  :disabled="!edit_identity"
                  label="Nama Depan"
                  v-model="employee_first_name"
                  class="w-full"
                  name="first-name"
                  v-validate="'required|alpha'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('first-name')"
                  >{{ errors.first("first-name") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  data-vv-validate-on="blur"
                  :disabled="!edit_identity"
                  label="Nama Belakang"
                  v-model="employee_last_name"
                  class="w-full"
                  name="last-name"
                />
                <!-- v-validate="'required|alpha'" -->
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('last-name')"
                  >{{ errors.first("last-name") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  data-vv-validate-on="blur"
                  :disabled="!edit_identity"
                  label="Nomor Induk Kependudukan"
                  v-model="employee_nik"
                  class="w-full"
                  name="nik"
                  v-validate="'required|numeric'"
                />
                <span class="text-danger text-sm" v-show="errors.has('nik')">{{
                  errors.first("nik")
                }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-select
                  data-vv-validate-on="blur"
                  :disabled="!edit_identity"
                  v-model="employee_gender"
                  class="w-full"
                  name="gender"
                  label="Jenis Kelamin"
                  v-validate="'required'"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item, index) in genderOptions"
                    class="w-full"
                  />
                </vs-select>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('gender')"
                  >{{ errors.first("gender") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  data-vv-validate-on="blur"
                  :disabled="!edit_identity"
                  label="Tempat Lahir"
                  v-model="employee_birth_place"
                  class="w-full"
                  name="birth-place"
                  v-validate="'required|alpha'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('birth-place')"
                  >{{ errors.first("birth-place") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <span class="vs-input--label">Tanggal Lahir</span>
                <datepicker
                  :disabled="!edit_identity"
                  class="w-full"
                  v-model="employee_birth_date"
                  name="birth-date"
                  v-validate="'required'"
                  :language="id_lang"
                  :format="date_format"
                ></datepicker>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('birth-date')"
                  >{{ errors.first("birth-date") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-select
                  data-vv-validate-on="blur"
                  :disabled="!edit_identity"
                  v-model="employee_blood_type"
                  class="w-full"
                  name="blood-type"
                  label="Golongan Darah"
                  v-validate="'required'"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item, index) in bloodOptions"
                    class="w-full"
                  />
                </vs-select>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('blood-type')"
                  >{{ errors.first("blood-type") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-select
                  data-vv-validate-on="blur"
                  :disabled="!edit_identity"
                  v-model="employee_religion"
                  class="w-full"
                  name="religion"
                  label="Agama"
                  v-validate="'required'"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item, index) in religionOptions"
                    class="w-full"
                  />
                </vs-select>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('religion')"
                  >{{ errors.first("religion") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-select
                  data-vv-validate-on="blur"
                  :disabled="!edit_identity"
                  v-model="employee_marital_status"
                  class="w-full"
                  name="marital-status"
                  label="Status Kawin"
                  v-validate="'required'"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item, index) in maritalOptions"
                    class="w-full"
                  />
                </vs-select>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('marital-status')"
                  >{{ errors.first("marital-status") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  data-vv-validate-on="blur"
                  :disabled="!edit_identity"
                  label="Jumlah Anak"
                  v-model="employee_num_of_child"
                  class="w-full"
                  name="num-of-child"
                  v-validate="'required|numeric'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('num-of-child')"
                  >{{ errors.first("num-of-child") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <span class="vs-input--label">Alamat</span>
                <vs-textarea
                  data-vv-validate-on="blur"
                  :disabled="!edit_identity"
                  v-model="employee_address"
                  class="w-full"
                  name="address"
                  v-validate="'required'"
                  height="100"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('address')"
                  >{{ errors.first("address") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  data-vv-validate-on="blur"
                  :disabled="!edit_identity"
                  type="email"
                  label="Email"
                  v-model="employee_email"
                  class="w-full"
                  name="email"
                  v-validate="'required|email'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('email')"
                  >{{ errors.first("email") }}</span
                >
              </div>
            </div>
          </div>

          <div class="mt-10">
            <vs-divider>
              <div class="flex">
                <span class="mr-2">Kepegawaian:</span>
                <vs-switch v-model="edit_employee" />
              </div>
            </vs-divider>
            <div class="vx-row">
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <span class="vs-input--label">Status Kepegawaian</span>
                <ul>
                  <li>
                    <vs-radio
                      :disabled="!edit_employee"
                      name="position-type"
                      v-validate="'required'"
                      v-model="employee_position_type"
                      :vs-value="1"
                      >Struktural</vs-radio
                    >
                  </li>
                  <li>
                    <vs-radio
                      :disabled="!edit_employee"
                      name="position-type"
                      v-validate="'required'"
                      v-model="employee_position_type"
                      :vs-value="2"
                      >Fungsional</vs-radio
                    >
                  </li>
                </ul>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('position-type')"
                  >{{ errors.first("position-type") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  data-vv-validate-on="blur"
                  :disabled="!edit_employee"
                  label="Nomor Induk Pegawai"
                  v-model="employee_nip"
                  class="w-full"
                  name="nip"
                  v-validate="'required|numeric|digits:18'"
                />
                <span class="text-danger text-sm" v-show="errors.has('nip')">{{
                  errors.first("nip")
                }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-select
                  data-vv-validate-on="blur"
                  :disabled="!edit_employee"
                  v-model="employee_unit"
                  class="w-full"
                  name="unit-id"
                  label="Unit Kerja"
                  v-validate="'required'"
                  @change="unitChanges()"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item, index) in unitOptions"
                    class="w-full"
                  />
                </vs-select>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('unit-id')"
                  >{{ errors.first("unit-id") }}</span
                >
              </div>
              <div
                class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5"
                v-if="[2, 3, 4].indexOf(employee_unit) > -1"
              >
                <vs-select
                  data-vv-validate-on="blur"
                  :disabled="!edit_employee"
                  v-if="employee_unit == 2"
                  v-model="employee_sub_unit"
                  class="w-full"
                  name="subunit-id"
                  label="Sub Unit Kerja"
                  v-validate="'required'"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item, index) in subunit2Options"
                    class="w-full"
                  />
                </vs-select>
                <vs-select
                  data-vv-validate-on="blur"
                  :disabled="!edit_employee"
                  v-else-if="employee_unit == 3"
                  v-model="employee_sub_unit"
                  class="w-full"
                  name="subunit-id"
                  label="Sub Unit Kerja"
                  v-validate="'required'"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item, index) in subunit3Options"
                    class="w-full"
                  />
                </vs-select>
                <vs-select
                  data-vv-validate-on="blur"
                  :disabled="!edit_employee"
                  v-else-if="employee_unit == 4"
                  v-model="employee_sub_unit"
                  class="w-full"
                  name="subunit-id"
                  label="Sub Unit Kerja"
                  v-validate="'required'"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item, index) in subunit4Options"
                    class="w-full"
                  />
                </vs-select>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('subunit-id')"
                  >{{ errors.first("subunit-id") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-select
                  data-vv-validate-on="blur"
                  :disabled="!edit_employee"
                  v-model="employee.golongan.ruang"
                  class="w-full"
                  name="golongan-id"
                  label="Golongan"
                  v-validate="'required'"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item, index) in golonganOptions"
                    class="w-full"
                  />
                </vs-select>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('golongan-id')"
                  >{{ errors.first("golongan-id") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <span class="vs-input--label">Tanggal Pengangkatan</span>
                <datepicker
                  :disabled="!edit_employee"
                  class="w-full"
                  v-model="employee.golongan.tanggal"
                  name="golongan-date"
                  v-validate="'required'"
                  :language="id_lang"
                  :format="date_format"
                ></datepicker>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('golongan-date')"
                  >{{ errors.first("golongan-date") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  data-vv-validate-on="blur"
                  :disabled="!edit_employee"
                  label="Jabatan"
                  v-model="employee.jabatan.nama"
                  class="w-full"
                  name="jabatan-name"
                  v-validate="'required'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('jabatan-name')"
                  >{{ errors.first("jabatan-name") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  data-vv-validate-on="blur"
                  :disabled="!edit_employee"
                  label="Nomor Keputusan"
                  v-model="employee.jabatan.keputusan"
                  class="w-full"
                  name="jabatan-sk-name"
                  v-validate="'required'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('jabatan-sk-name')"
                  >{{ errors.first("jabatan-sk-name") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <span class="vs-input--label">Tanggal Keputusan</span>
                <datepicker
                  :disabled="!edit_employee"
                  class="w-full"
                  v-model="employee.jabatan.tanggal"
                  name="jabatan-sk-date"
                  v-validate="'required'"
                  :language="id_lang"
                  :format="date_format"
                ></datepicker>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('jabatan-sk-date')"
                  >{{ errors.first("jabatan-sk-date") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  data-vv-validate-on="blur"
                  :disabled="!edit_employee"
                  label="Jumlah Cuti"
                  v-model="employee_cuti"
                  class="w-full"
                  name="num-of-cuti"
                  v-validate="'required|numeric'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('num-of-cuti')"
                  >{{ errors.first("num-of-cuti") }}</span
                >
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <p class="text-sm">Tipe Akun:</p>
                <ul>
                  <li>
                    <vs-radio
                      :disabled="!edit_employee"
                      name="role-id"
                      v-validate="'required'"
                      v-model="role_id"
                      :vs-value="3"
                      >Admin</vs-radio
                    >
                  </li>
                  <li>
                    <vs-radio
                      :disabled="!edit_employee"
                      name="role-id"
                      v-validate="'required'"
                      v-model="role_id"
                      :vs-value="4"
                      >User</vs-radio
                    >
                  </li>
                </ul>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('role-id')"
                  >{{ errors.first("role-id") }}</span
                >
              </div>
            </div>
          </div>

          <div class="mt-10">
            <vs-divider>
              <div class="flex">
                <span class="mr-2">Pendidikan:</span>
                <vs-switch v-model="edit_education" />
              </div>
            </vs-divider>
            <div class="vx-row">
              <div class="vx-col w-full mt-5">
                <vs-table stripe :data="employee.education">
                  <template slot="header">
                    <div class="w-full">
                      <div class="vx-row mb-5">
                        <div class="vx-col w-full flex justify-center">
                          <vs-button
                            :disabled="!edit_education"
                            color="primary"
                            type="border"
                            icon-pack="feather"
                            icon="icon-plus"
                            @click="addRowEdu()"
                            >Tambah Data</vs-button
                          >
                        </div>
                      </div>
                    </div>
                  </template>
                  <template slot="thead">
                    <vs-th>Tahun Lulus</vs-th>
                    <vs-th>Prodi</vs-th>
                    <vs-th>Jurusan</vs-th>
                    <vs-th>Institusi</vs-th>
                    <vs-th>Aksi</vs-th>
                  </template>

                  <template slot-scope="{ data }">
                    <vs-tr
                      :data="tr"
                      :key="`edu-${eduIndextr}`"
                      v-for="(tr, eduIndextr) in data"
                    >
                      <vs-td :data="tr.year">
                        <vs-input
                          data-vv-validate-on="blur"
                          :disabled="!edit_education"
                          v-model="tr.year"
                          class="w-full"
                          name="edu-year"
                          v-validate="'required|numeric|digits:4'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('edu-year')"
                          >{{ errors.first("edu-year") }}</span
                        >
                      </vs-td>
                      <vs-td :data="tr.degree">
                        <vs-select
                          data-vv-validate-on="blur"
                          :disabled="!edit_education"
                          v-model="tr.degree"
                          class="w-full"
                          name="edu-degree"
                          v-validate="'required'"
                        >
                          <vs-select-item
                            :key="index"
                            :value="item.value"
                            :text="item.text"
                            v-for="(item, index) in degreeOptions"
                            class="w-full"
                          />
                        </vs-select>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('edu-degree')"
                          >{{ errors.first("edu-degree") }}</span
                        >
                      </vs-td>
                      <vs-td :data="tr.major">
                        <vs-input
                          data-vv-validate-on="blur"
                          :disabled="!edit_education"
                          v-model="tr.major"
                          class="w-full"
                          name="edu-major"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('edu-major')"
                          >{{ errors.first("edu-major") }}</span
                        >
                      </vs-td>
                      <vs-td :data="tr.institution">
                        <vs-input
                          data-vv-validate-on="blur"
                          :disabled="!edit_education"
                          v-model="tr.institution"
                          class="w-full"
                          name="edu-institue"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('edu-institue')"
                          >{{ errors.first("edu-institue") }}</span
                        >
                      </vs-td>
                      <vs-td>
                        <div class="flex">
                          <vx-tooltip
                            text="Hapus"
                            position="bottom"
                            delay=".3s"
                          >
                            <vs-button
                              :disabled="!edit_education"
                              type="filled"
                              size="default"
                              icon-pack="feather"
                              icon="icon-trash-2"
                              color="danger"
                              class="mr-2"
                              @click="removeRowEdu(eduIndextr)"
                            ></vs-button>
                          </vx-tooltip>
                        </div>
                      </vs-td>
                    </vs-tr>
                  </template>
                </vs-table>
              </div>
            </div>
          </div>

          <div class="mt-10">
            <vs-divider>
              <div class="flex">
                <span class="mr-2">Diklat:</span>
                <vs-switch v-model="edit_diklat" />
              </div>
            </vs-divider>
            <div class="vx-row">
              <div class="vx-col w-full mt-5">
                <vs-table stripe :data="employee.diklat">
                  <template slot="header">
                    <div class="w-full">
                      <div class="vx-row mb-5">
                        <div class="vx-col w-full flex justify-center">
                          <vs-button
                            :disabled="!edit_diklat"
                            color="primary"
                            type="border"
                            icon-pack="feather"
                            icon="icon-plus"
                            @click="addRowDiklat()"
                            >Tambah Data</vs-button
                          >
                        </div>
                      </div>
                    </div>
                  </template>
                  <template slot="thead">
                    <vs-th>Tahun Diklat</vs-th>
                    <vs-th>Judul Diklat</vs-th>
                    <vs-th>Aksi</vs-th>
                  </template>

                  <template slot-scope="{ data }">
                    <vs-tr
                      :data="tr"
                      :key="`diklat-${dikIndextr}`"
                      v-for="(tr, dikIndextr) in data"
                    >
                      <vs-td :data="tr.year">
                        <vs-input
                          data-vv-validate-on="blur"
                          :disabled="!edit_diklat"
                          v-model="tr.year"
                          class="w-full"
                          name="diklat-year"
                          v-validate="'required|numeric|digits:4'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('diklat-year')"
                          >{{ errors.first("diklat-year") }}</span
                        >
                      </vs-td>
                      <vs-td :data="tr.name">
                        <vs-input
                          data-vv-validate-on="blur"
                          :disabled="!edit_diklat"
                          v-model="tr.name"
                          class="w-full"
                          name="diklat-title"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('diklat-title')"
                          >{{ errors.first("diklat-title") }}</span
                        >
                      </vs-td>
                      <vs-td>
                        <div class="flex">
                          <vx-tooltip
                            text="Hapus"
                            position="bottom"
                            delay=".3s"
                          >
                            <vs-button
                              :disabled="!edit_diklat"
                              type="filled"
                              size="default"
                              icon-pack="feather"
                              icon="icon-trash-2"
                              color="danger"
                              class="mr-2"
                              @click="removeRowDiklat(dikIndextr)"
                            ></vs-button>
                          </vx-tooltip>
                        </div>
                      </vs-td>
                    </vs-tr>
                  </template>
                </vs-table>
              </div>
            </div>
          </div>

          <div class="mt-10">
            <vs-divider></vs-divider>
            <div class="flex justify-center">
              <vs-button
                type="filled"
                size="default"
                icon-pack="feather"
                icon="icon-save"
                color="primary"
                class="mx-2"
                @click="promptFinish"
                >Simpan</vs-button
              >
              <vs-button
                type="border"
                size="default"
                icon-pack="feather"
                icon="icon-x"
                color="danger"
                class="mx-2"
                @click="promptReset"
                >Batalkan</vs-button
              >
            </div>
          </div>
        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>
import { EMP_FETCH, EMP_EDIT } from "../../store/action-types";
import {
  EMP_SET_SELECTED,
  EMP_SET_SELECTED_SINGLE
} from "../../store/mutation-types";
import { mapGetters } from "vuex";
import Datepicker from "vuejs-datepicker";
import { id } from "vuejs-datepicker/dist/locale";
import { FormWizard, TabContent } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import decoder from "@/utils/decoder";

export default {
  data() {
    return {
      // datepicker
      id_lang: id,
      date_format: "dd MMMM yyyy",

      // options
      edit_identity: false,
      edit_employee: false,
      edit_education: false,
      edit_diklat: false,

      genderOptions: decoder.gender,
      bloodOptions: decoder.blood,
      religionOptions: decoder.religion,
      maritalOptions: decoder.marital,

      // step-2
      unitOptions: decoder.unit,
      subunit2Options: decoder.unit.filter(unit => unit.value == 2)[0].subunit,
      subunit3Options: decoder.unit.filter(unit => unit.value == 3)[0].subunit,
      subunit4Options: decoder.unit.filter(unit => unit.value == 4)[0].subunit,
      golonganOptions: decoder.golongan,
      role_id: 3,

      // step-3
      degreeOptions: decoder.degree
    };
  },
  created() {
    const dict = {
      custom: {
        // step-1
        "first-name": {
          required:
            "Nama depan tidak boleh kosong, silahkan masukkan nama depan pegawai.",
          alpha:
            "Nama pegawai hanya mengandung huruf, silahkan periksa kembali."
        },
        "last-name": {
          required:
            "Nama belakang tidak boleh kosong, silahkan masukkan nama belakang pegawai.",
          alpha:
            "Nama pegawai hanya mengandung huruf, silahkan periksa kembali."
        },
        nik: {
          required:
            "Nomor induk kependudukan tidak boleh kosong, silahkan masukkan nomor induk kependudukan pegawai.",
          numeric:
            "Nomor induk kependudukan hanya mengandung angka, silahkan periksa kembali."
        },
        gender: {
          required:
            "Jenis kelamin tidak boleh kosong, silahkan pilih jenis kelamin pegawai."
        },
        "birth-place": {
          required:
            "Tempat lahir tidak boleh kosong, silahkan masukkan tempat lahir pegawai.",
          alpha: "Nama tempat hanya mengandung huruf, silahkan periksa kembali."
        },
        "birth-date": {
          required:
            "Tanggal lahir tidak boleh kosong, silahkan masukkan tanggal lahir pegawai."
        },
        "blood-type": {
          required:
            "Golongan darah tidak boleh kosong, silahkan pilih golongan darah pegawai."
        },
        religion: {
          required: "Agama tidak boleh kosong, silahkan pilih agama pegawai."
        },
        "marital-status": {
          required:
            "Status kawin tidak boleh kosong, silahkan pilih status kawin pegawai."
        },
        "num-of-child": {
          required:
            "Jumlah anak tidak boleh kosong, silahkan masukkan jumlah anak pegawai. Jika tidak memiliki, masukkan 0.",
          numeric:
            "Jumlah anak hanya mengandung angka, silahkan periksa kembali."
        },
        address: {
          required:
            "Alamat tidak boleh kosong, silahkan masukkan alamat pegawai."
        },
        email: {
          required:
            "Email tidak boleh kosong, silahkan masukkan email pegawai.",
          email:
            "Alamat email pegawai yang anda masukkan tidak valid, silahkan periksa kembali."
        },

        // step-2
        "position-type": {
          required:
            "Status kepegawaian tidak boleh kosong, silahkan pilih status kepegawaian."
        },
        nip: {
          required:
            "Nomor induk pegawai tidak boleh kosong, silahkan masukkan nomor induk pegawai.",
          numeric:
            "Nomor induk pegawai hanya mengandung angka, silahkan periksa kembali.",
          digits:
            "Nomor induk pegawai hanya mengandung 18 angka, silahkan periksa kembali."
        },
        "unit-id": {
          required:
            "Unit kerja tidak boleh kosong, silahkan pilih unit kerja pegawai."
        },
        "subunit-id": {
          required:
            "Sub-unit kerja tidak boleh kosong, silahkan pilih sub-unit kerja pegawai."
        },
        "golongan-id": {
          required:
            "Golongan tidak boleh kosong, silahkan pilih golongan pegawai."
        },
        "golongan-date": {
          required:
            "Tanggal pengangkatan tidak boleh kosong, silahkan masukkan tanggal pengangkatan pegawai."
        },
        "jabatan-name": {
          required:
            "Nama jabatan tidak boleh kosong, silahkan masukkan nama jabatan pegawai."
        },
        "jabatan-sk-name": {
          required:
            "Judul sk tidak boleh kosong, silahkan masukkan judul sk pengangkatan pegawai."
        },
        "jabatan-sk-date": {
          required:
            "Tanggal sk tidak boleh kosong, silahkan masukkan tanggal sk pengangkatan pegawai."
        },
        "role-id": {
          required:
            "Tipe akun tidak boleh kosong, silahkan pilih tipe akun pegawai."
        },
        "num-of-cuti": {
          required:
            "Jumlah cuti tidak boleh kosong, silahkan masukkan jumlah cuti pegawai. Jika tidak memiliki, masukkan 0.",
          numeric:
            "Jumlah cuti pegawai hanya mengandung angka, silahkan periksa kembali."
        },

        // step-3
        "edu-year": {
          required:
            "Tahun kelulusan tidak boleh kosong, silahkan masukkan tahun kelulusan pegawai.",
          numeric:
            "Tahun kelulusan hanya mengandung angka, silahkan periksa kembali.",
          digits:
            "Tahun kelulusan hanya mengandung 4 angka, silahkan periksa kembali"
        },
        "edu-degree": {
          required:
            "Program studi tidak boleh kosong, silahkan masukkan program studi pegawai."
        },
        "edu-major": {
          required:
            "Jurusan program studi tidak boleh kosong, silahkan masukkan jurusan program studi pegawai."
        },
        "edu-institue": {
          required:
            "Nama institusi tidak boleh kosong, silahkan masukkan nama institusi pendidikan pegawai."
        },
        "diklat-year": {
          required:
            "Tahun diklat tidak boleh kosong, silahkan masukkan tahun diklat pegawai.",
          numeric:
            "Tahun diklat hanya mengandung angka, silahkan periksa kembali.",
          digits:
            "Tahun diklat hanya mengandung 4 angka, silahkan periksa kembali"
        },
        "diklat-title": {
          required:
            "Judul diklat tidak boleh kosong, silahkan masukkan judul diklat pegawai."
        }
      }
    };
    this.$validator.localize("en", dict);
  },
  methods: {
    unitChanges() {
      this.employee_sub_unit = null;
    },
    addRowEdu() {
      this.employee.education.push({
        year: null,
        degree: null,
        major: null,
        institution: null
      });
    },
    removeRowEdu(index) {
      this.employee.education.splice(index, 1);
    },
    addRowDiklat() {
      this.employee.diklat.push({
        year: null,
        name: null
      });
    },
    removeRowDiklat(index) {
      this.employee.diklat.splice(index, 1);
    },
    promptReset() {
      this.$vs.dialog({
        type: "confirm",
        color: "primary",
        title: `Konfirmasi`,
        text:
          "Apakah anda yakin ingin membatalkan perubahan data pegawai " +
          this.employee.first_name +
          " ?",
        accept: this.cancelEdit
      });
    },
    promptFinish() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$vs.dialog({
            type: "confirm",
            color: "primary",
            title: `Konfirmasi`,
            text:
              "Apakah formulir data pegawai " +
              this.employee.first_name +
              " sudah sesuai ?",
            accept: this.saveForm
          });
        } else {
          this.$vs.notify({
            time: 10000,
            title: "Terjadi kesalahan!",
            text: "Silahkan periksa kembali data pegawai ini.",
            color: "danger",
            position: "top-center"
          });
        }
      });
    },
    cancelEdit() {
      this.$router.push({ name: "database-employee" });
    },
    saveForm() {
      try {
        const payload = {
          notify: this.$vs.notify,
          user_form: {
            nip: this.employee.nip,
            email: this.employee.email,
            first_name: this.employee.first_name,
            last_name: this.employee.last_name,
            first_degree: this.employee.first_degree,
            last_degree: this.employee.last_degree,
            blood_type: this.employee.blood_type,
            // blood_type: decoder.blood.filter(
            //   item => item.value == this.employee.blood_type
            // )[0].text,
            address: this.employee.address,
            nik: this.employee.nik,
            birth_date: this.employee.birth_date,
            birth_place: this.employee.birth_place,
            gender: decoder.gender3.filter(
              item => item.value == this.employee.gender
            )[0].text,
            religion: decoder.religion.filter(
              item => item.value == this.employee.religion
            )[0].text,
            marital_status: decoder.marital.filter(
              item => item.value == this.employee.marital_status
            )[0].text,
            num_of_child: this.employee.num_of_child,
            position_type: decoder.position.filter(
              item => item.value == this.employee.position_type
            )[0].text,
            role_id: this.role_id,
            sub_unit_id: this.employee.sub_unit,
            current_golongan_id: this.employee.golongan.ruang,
            current_golongan_date: this.employee.golongan.tanggal,
            jabatan_name: this.employee.jabatan.nama,
            jabatan_sk_name: this.employee.jabatan.keputusan,
            jabatan_sk_date: this.employee.jabatan.tanggal,
            diklat: this.employee.diklat,
            education: this.employee.education,
            cuti: this.employee.cuti
          }
        };
        console.log(payload);

        this.$store
          .dispatch(EMP_EDIT, payload)
          .then(() =>
            this.$router.push({
              name: "database-employee-profile",
              query: { nip: payload.user_form.nip }
            })
          )
          .catch(error => {
            console.log(error);
          });
      } catch (error) {
        console.log(error);
        this.$vs.notify({
          time: 10000,
          title: "Terjadi kesalahan!",
          text:
            "Data pegawai " +
            this.employee.first_name +
            " belum lengkap, silahkan periksa kembali.",
          color: "danger",
          position: "top-center"
        });
      }
    },
    fetchEmployee() {
      const payload = {
        employee: {
          nip: this.$router.currentRoute.query.nip
        },
        notify: this.$vs.notify
      };
      this.$store.dispatch(EMP_FETCH, payload);
    }
  },
  computed: {
    ...mapGetters(["selectedEmployee"]),
    employee_first_degree: {
      set(first_degree) {
        const payload = {
          type: "first_degree",
          value: first_degree
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.first_degree;
      }
    },
    employee_last_degree: {
      set(last_degree) {
        const payload = {
          type: "last_degree",
          value: last_degree
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.last_degree;
      }
    },
    employee_first_name: {
      set(first_name) {
        const payload = {
          type: "first_name",
          value: first_name
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.first_name;
      }
    },
    employee_last_name: {
      set(last_name) {
        const payload = {
          type: "last_name",
          value: last_name
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.last_name;
      }
    },
    employee_nik: {
      set(nik) {
        const payload = {
          type: "nik",
          value: nik
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.nik;
      }
    },
    employee_gender: {
      set(gender) {
        const payload = {
          type: "gender",
          value: gender
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.gender;
      }
    },
    employee_birth_place: {
      set(birth_place) {
        const payload = {
          type: "birth_place",
          value: birth_place
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.birth_place;
      }
    },
    employee_birth_date: {
      set(birth_date) {
        const payload = {
          type: "birth_date",
          value: birth_date
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.birth_date;
      }
    },
    employee_blood_type: {
      set(blood_type) {
        const payload = {
          type: "blood_type",
          value: blood_type
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.blood_type;
      }
    },
    employee_religion: {
      set(religion) {
        const payload = {
          type: "religion",
          value: religion
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.religion;
      }
    },
    employee_marital_status: {
      set(marital_status) {
        const payload = {
          type: "marital_status",
          value: marital_status
        };

        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.marital_status;
      }
    },
    employee_num_of_child: {
      set(num_of_child) {
        const payload = {
          type: "num_of_child",
          value: num_of_child
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.num_of_child;
      }
    },
    employee_address: {
      set(address) {
        const payload = {
          type: "address",
          value: address
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.address;
      }
    },
    employee_email: {
      set(email) {
        const payload = {
          type: "email",
          value: email
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.email;
      }
    },
    employee_position_type: {
      set(position_type) {
        const payload = {
          type: "position_type",
          value: position_type
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.position_type;
      }
    },
    employee_nip: {
      set(nip) {
        const payload = {
          type: "nip",
          value: nip
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.nip;
      }
    },
    employee_unit: {
      set(unit) {
        const payload = {
          type: "unit",
          value: unit
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.unit;
      }
    },
    employee_sub_unit: {
      set(sub_unit) {
        const payload = {
          type: "sub_unit",
          value: sub_unit
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.sub_unit;
      }
    },
    employee_golongan: {
      set(golongan) {
        const payload = {
          type: "golongan",
          value: golongan
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.golongan;
      }
    },
    // employee_jabatan: {},
    employee_cuti: {
      set(cuti) {
        const payload = {
          type: "cuti",
          value: cuti
        };
        this.$store.commit(EMP_SET_SELECTED_SINGLE, payload);
      },
      get() {
        return this.selectedEmployee.cuti;
      }
    },
    // employee_education: {},
    // employee_diklat: {},
    employee: {
      set(emp) {
        this.$store.commit(EMP_SET_SELECTED, emp);
      },
      get() {
        return this.selectedEmployee;
      }
    }
  },
  mounted() {
    this.fetchEmployee();
  },
  components: {
    FormWizard,
    TabContent,
    Datepicker
  }
};
</script>

<style lang="scss">
#app-employee-form-edit {
  .vs-con-table {
    .vs-table--thead {
      th {
        .vs-table-text {
          text-transform: uppercase;
        }
      }
    }
    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>
