<template>
  <div class="app-employee" id="app-employee">
    <p v-if="!selectedEmployee">Sedang memuat halaman...</p>
    <div class="vx-row" v-else>
      <div
        class="vx-col w-full mb-base"
        :class="{
          'md:w-2/3 lg:w-2/3 xl:w-2/3':
            (selectedEmployee.reminder_retirement_sent ||
              selectedEmployee.reminder_promotion_sent) == true
        }"
      >
        <vx-card>
          <vs-avatar
            v-if="selectedEmployee.picture.startsWith('http')"
            class="mx-auto my-6 block"
            size="128px"
            :src="selectedEmployee.picture"
          />
          <vs-avatar
            v-else-if="selectedEmployee.picture == ``"
            class="mx-auto my-4 block"
            size="128px"
            :src="require(`@/assets/images/portrait/user.png`)"
          />
          <vs-avatar
            v-else
            class="mx-auto my-6 block"
            size="128px"
            :src="getUrl(selectedEmployee.picture)"
          />
          <div class="text-center">
            <h4 class="font-semibold">{{ selectedEmployee.name }}</h4>
            <h5 class="font-normal mt-2">{{ selectedEmployee.unit }}</h5>
          </div>
          <div class="flex justify-center mt-4">
            <vs-button
              color="primary"
              size="default"
              type="border"
              icon-pack="feather"
              icon="icon-settings"
              @click="editProfile(selectedEmployee.nip)"
              >Edit Profile</vs-button
            >
          </div>

          <!-- PLACEHOLDER IDENTITAS -->
          <div class="mt-10">
            <vs-divider>
              <p class="font-medium text-base">Identitas</p>
            </vs-divider>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">NIK</p>
                <p class="text-base text-left">{{ selectedEmployee.nik }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">Jenis Kelamin</p>
                <p class="text-base text-center">
                  {{
                    decoder.gender2.filter(
                      item => item.value == selectedEmployee.gender
                    )[0].text
                  }}
                </p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">Agama</p>
                <p class="text-base text-right">
                  {{ selectedEmployee.religion }}
                </p>
              </div>
            </div>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">Kelahiran</p>
                <p class="text-base text-left">
                  {{ selectedEmployee.birth_place }},
                  {{ selectedEmployee.birth_date | format_date_sm }}
                </p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">Status Kawin</p>
                <p class="text-base text-center">
                  {{ selectedEmployee.marital_status }}
                </p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">Jumlah Anak</p>
                <p class="text-base text-right">
                  {{ selectedEmployee.num_of_child }}
                </p>
              </div>
            </div>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">Alamat</p>
                <p class="text-base text-left">
                  {{ selectedEmployee.address }}
                </p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">
                  Golongan Darah
                </p>
                <p class="text-base text-center">
                  {{ selectedEmployee.blood_type }}
                </p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">Email</p>
                <p class="text-base text-right">{{ selectedEmployee.email }}</p>
              </div>
            </div>
          </div>

          <!-- PLACEHOLDER KEPEGAWAIAN -->
          <div class="mt-10">
            <vs-divider>
              <p class="font-medium text-base">Kepegawaian</p>
            </vs-divider>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">NIP</p>
                <p class="text-base text-left">{{ selectedEmployee.nip }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">
                  Status Kepegawaian
                </p>
                <p class="text-base text-center">
                  {{ selectedEmployee.position_type }}
                </p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">Status Akun</p>
                <p class="text-base text-right">NULL</p>
              </div>
            </div>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">Jabatan</p>
                <p class="text-base text-left">
                  {{ selectedEmployee.jabatan.nama }}
                </p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">
                  Tanggal Keputusan
                </p>
                <p class="text-base text-center">
                  {{ selectedEmployee.jabatan.tanggal | format_date_sm }}
                </p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">
                  Nomor Keputusan
                </p>
                <p class="text-base text-right">
                  {{ selectedEmployee.jabatan.keputusan }}
                </p>
              </div>
            </div>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">Golongan</p>
                <p class="text-base text-left">
                  {{ selectedEmployee.golongan.ruang }} /
                  {{ selectedEmployee.golongan.nama }}
                </p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">
                  Tanggal Pengesahan
                </p>
                <p class="text-base text-center">
                  {{ selectedEmployee.golongan.tanggal | format_date_sm }}
                </p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">Jumlah Cuti</p>
                <p class="text-base text-right">{{ selectedEmployee.cuti }}</p>
              </div>
            </div>
          </div>

          <div class="mt-10">
            <vs-divider>
              <p class="font-medium text-base">Pendidikan</p>
            </vs-divider>
            <p
              v-if="!selectedEmployee.education.length"
              class="italic font-light text-center"
            >
              {{ selectedEmployee.name }} tidak memiliki riwayat pendidikan.
            </p>
            <ul
              class="px-2"
              v-else
              v-for="(edu, index) in selectedEmployee.education"
              :key="`edu-${index}`"
            >
              <li>
                <div class="mb-5">
                  <p class="font-semibold text-base">
                    {{ edu.year }} - {{ edu.institution }}
                  </p>
                  <p class="text-base">{{ edu.degree }} {{ edu.major }}</p>
                </div>
              </li>
            </ul>
          </div>

          <div class="mt-10">
            <vs-divider>
              <p class="font-medium text-base">Diklat</p>
            </vs-divider>
            <p
              v-if="!selectedEmployee.diklat.length"
              class="italic font-light text-center"
            >
              {{ selectedEmployee.name }} tidak memiliki riwayat diklat.
            </p>
            <ul
              class="px-2"
              v-else
              v-for="(dik, index) in selectedEmployee.diklat"
              :key="`dik-${index}`"
            >
              <li>
                <div class="mb-5">
                  <p class="text-base font-semibold">
                    {{ dik.year }} - {{ dik.name }}
                  </p>
                  <p class="text-base">{{ dik.name }} {{ dik.year }}</p>
                </div>
              </li>
            </ul>
          </div>
        </vx-card>
      </div>

      <div
        class="vx-col w-full md:w-1/3 lg:w-1/3 xl:w-1/3 mb-base"
        v-show="selectedEmployee.reminder_promotion_sent"
      >
        <vx-card>
          <div class="text-center">
            <h4 class="font-semibold">Status Persyaratan Kenaikan Pangkat</h4>
          </div>
          <div class="vs-component vs-divider">
            <span
              class="vs-divider-border after"
              style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
            ></span>
            <span
              class="vs-divider-border before"
              style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
            ></span>
          </div>
          <p v-if="!promoteDocs">Sedang memuat halaman...</p>
          <ul class="mt-base" v-else>
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SK CPNS</p>
                <span class="text-base"
                  >Surat Keterangan Calon Pegawai Negeri Sipil</span
                >
              </div>
              <div class="ml-auto">
                <vs-checkbox
                  color="primary"
                  disabled="true"
                  :value="checkDocs(1, 1)"
                />
              </div>
            </li>
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SK PNS</p>
                <span class="text-base"
                  >Surat Keterangan Pegawai Negeri Sipil</span
                >
              </div>
              <div class="ml-auto">
                <vs-checkbox
                  color="primary"
                  disabled="true"
                  :value="checkDocs(1, 2)"
                />
              </div>
            </li>
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SK Pangkat</p>
                <span class="text-base"
                  >Surat Keterangan Kenaikan Pangkat Terakhir</span
                >
              </div>
              <div class="ml-auto">
                <vs-checkbox
                  color="primary"
                  disabled="true"
                  :value="checkDocs(1, 3)"
                />
              </div>
            </li>
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SKP / DP3</p>
                <span class="text-base"
                  >Sasaran Kerja Pegawai / Daftar Penilaian Pelaksanaan
                  Pekerjaan</span
                >
              </div>
              <div class="ml-auto">
                <vs-checkbox
                  color="primary"
                  disabled="true"
                  :value="checkDocs(1, 4)"
                />
              </div>
            </li>
          </ul>
          <vs-button
            type="filled"
            size="default"
            icon-pack="feather"
            icon="icon-bell"
            class="w-full mt-6"
            @click="promptRemind(selectedEmployee.name)"
            v-if="!isReminded"
            >Kirim Reminder</vs-button
          >
          <vs-button
            type="border"
            color="success"
            size="default"
            icon-pack="feather"
            icon="icon-check"
            class="w-full mt-6"
            @click="promptFinish(selectedEmployee.name)"
            v-else
            >Selesai</vs-button
          >
        </vx-card>
      </div>

      <div
        class="vx-col w-full md:w-1/3 lg:w-1/3 xl:w-1/3 mb-base"
        v-show="selectedEmployee.reminder_retirement_sent"
      >
        <vx-card>
          <div class="text-center">
            <h4 class="font-semibold">Status Persyaratan Pensiun</h4>
          </div>
          <div class="vs-component vs-divider">
            <span
              class="vs-divider-border after"
              style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
            ></span>
            <span
              class="vs-divider-border before"
              style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
            ></span>
          </div>
          <p v-if="!retireDocs">Sedang memuat halaman...</p>
          <ul class="mt-base" v-else>
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SK Pensiun</p>
                <span class="text-base">Surat Keterangan Pensiun</span>
              </div>
              <div class="ml-auto">
                <vs-checkbox
                  color="primary"
                  disabled="true"
                  v-model="checkSkpensiun"
                />
              </div>
            </li>
          </ul>
          <vs-button
            type="filled"
            size="default"
            icon-pack="feather"
            icon="icon-bell"
            class="w-full mt-6"
            @click="promptRemind(selectedEmployee.name)"
            v-if="!isReminded"
            >Kirim Reminder</vs-button
          >
          <vs-button
            type="border"
            color="success"
            size="default"
            icon-pack="feather"
            icon="icon-check"
            class="w-full mt-6"
            @click="promptFinish(selectedEmployee.name)"
            v-else
            >Selesai</vs-button
          >
        </vx-card>
      </div>

      <div class="vx-col w-full mb-base">
        <vx-card title="Tabel Dokumen Persyaratan Naik Jabatan">
          <p v-if="!promoteDocs">Sedang memuat halaman...</p>
          <vs-table
            stripe
            search
            max-items="5"
            pagination
            :data="promoteDocs"
            v-else
          >
            <div
              slot="header"
              class="flex flex-wrap-reverse items-center flex-grow justify-between"
            >
              <div class="flex items-center">
                <span class="text-base mr-2">Upload Dokumen:</span>
                <vs-input
                  class="w-1/2 mr-2"
                  type="file"
                  v-model="docPromoteFilename"
                  id="docPromoteFile"
                  ref="docPromoteFile"
                  @change="setDocPromote"
                />
                <vs-select
                  v-model="docPromoteType"
                  class="w-1/2 mr-2"
                  name="docPromoteType"
                  placeholder="Jenis Dokumen"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item, index) in docPromoteOptions"
                    class="w-full"
                  />
                </vs-select>
                <vs-button
                  color="primary"
                  type="border"
                  icon-pack="feather"
                  icon="icon-upload"
                  class="mr-2"
                  @click="startUploadDocPromote"
                ></vs-button>
              </div>
            </div>

            <template slot="thead">
              <vs-th>Judul</vs-th>
              <vs-th>Jenis</vs-th>
              <vs-th>Aksi</vs-th>
            </template>

            <template slot-scope="{ data }">
              <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                <vs-td :data="tr.url">{{ tr.url }}</vs-td>
                <vs-td :data="tr.type">{{
                  decoder.documentPromotion.filter(
                    item => item.value == tr.type
                  )[0].text
                }}</vs-td>
                <vs-td>
                  <div class="flex">
                    <vx-tooltip text="Download" position="bottom" delay=".3s">
                      <vs-button
                        type="filled"
                        size="default"
                        icon-pack="feather"
                        icon="icon-download"
                        color="success"
                        class="mr-2"
                      ></vs-button>
                    </vx-tooltip>
                  </div>
                </vs-td>
              </vs-tr>
            </template>
          </vs-table>
        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>
import FileUpload from "vue-upload-component";
import { mapGetters } from "vuex";
import {
  EMP_FETCH,
  RMD_DOCS,
  RMD_SEND,
  RMD_VALIDATE,
  RMD_UPLOAD
} from "../../store/action-types";
import decoder from "@/utils/decoder";
import { API_URL } from "@/utils/common/config";

export default {
  data() {
    return {
      API_URL: API_URL,
      checkSkpensiun: true,
      isReminded: false,
      decoder: decoder,
      docPromoteFilename: null,
      docPromoteFile: null,
      docPromoteOptions: decoder.documentPromotion,
      docPromoteType: null,
      headers: {
        "Content-Type": "multipart/form-data",
        Authorization: this.axios.defaults.headers.common["Authorization"]
      }
    };
  },
  computed: {
    ...mapGetters(["selectedEmployee", "retireDocs", "promoteDocs"])
  },
  mounted() {
    this.fetchEmployee();
    setTimeout(this.fetchReminderDocs, 5000);
  },
  methods: {
    fetchEmployee() {
      this.$vs.loading({
        type: "sound"
      });
      const payload = {
        closeLoading: this.$vs.loading.close,
        employee: {
          nip: this.$router.currentRoute.query.nip
        },
        notify: this.$vs.notify
      };
      this.$store.dispatch(EMP_FETCH, payload);
    },
    fetchReminderDocs() {
      this.$vs.loading({
        type: "sound"
      });
      if (!this.selectedEmployee.reminder_promotion_sent) {
        const payload = {
          notify: this.$vs.notify,
          closeLoading: this.$vs.loading.close,
          nip: this.selectedEmployee.nip,
          type: 1
        };
        this.$store.dispatch(RMD_DOCS, payload);
      }
      if (this.selectedEmployee.reminder_retirement_sent) {
        const payload = {
          notify: this.$vs.notify,
          closeLoading: this.$vs.loading.close,
          nip: this.selectedEmployee.nip,
          type: 2
        };
        this.$store.dispatch(RMD_DOCS, payload);
      }
    },
    editProfile(nip) {
      this.$router.push({
        name: "database-employee-profile-edit",
        query: { nip: nip }
      });
    },
    promptFinish(name) {
      this.$vs.dialog({
        type: "confirm",
        color: "success",
        title: `Konfirmasi`,
        text:
          "Apakah " +
          name +
          " telah menyelesaikan seluruh persyaratan kenaikan pangkat ?",
        accept: this.acceptFinish
      });
    },
    acceptFinish() {
      this.$vs.notify({
        time: 10000,
        title: "Berhasil dikirim.",
        text: "Persyaratan sudah lengkap..",
        color: "success",
        position: "top-center"
      });
    },
    promptRemind(name) {
      this.$vs.dialog({
        type: "confirm",
        color: "primary",
        title: `Konfirmasi`,
        text:
          "Apakah anda yakin ingin mengirimkan reminder kepada " + name + " ?",
        accept: this.acceptRemind
      });
    },
    acceptRemind() {
      this.$vs.loading({
        type: "sound"
      });
      this.isReminded = true;
      const payload = {
        notify: this.$vs.notify,
        closeLoading: this.$vs.loading.close,
        nip: this.selectedEmployee.nip,
        type: 1
      };
      this.$store.dispatch(RMD_SEND, payload);
    },
    getUrl(val) {
      const url = require("url");
      return url.resolve(this.API_URL, val);
    },
    checkDocs(type, docNum) {
      let check;
      if (type == 1) {
        check = this.promoteDocs.filter(item => item.type == docNum);
        if (check.length == 1) {
          if (check[0].url == "") {
            return false;
          } else {
            return true;
          }
        } else {
          return false;
        }
      } else if (type == 2) {
        check = this.retireDocs.filter(item => item.type == docNum);
        if (check.length == 1) {
          if (check[0].url == "") {
            return false;
          } else {
            return true;
          }
        } else {
          return false;
        }
      }
    },
    setDocPromote() {
      this.docPromoteFile = this.$refs.docPromoteFile.$refs.vsinput.files[0];
    },
    startUploadDocPromote() {
      if (!this.docPromoteFile) {
        this.$vs.notify({
          time: 10000,
          title: "Terjadi Kesalahan.",
          text: "Anda belum memilih file untuk di upload.",
          icon: "error",
          color: "danger",
          position: "top-center"
        });
      } else if (!this.docPromoteType) {
        this.$vs.notify({
          time: 10000,
          title: "Terjadi Kesalahan.",
          text: "Anda belum memilih jenis file.",
          icon: "error",
          color: "danger",
          position: "top-center"
        });
      } else {
        let formData = new FormData();
        let filePromoteType;

        if (this.docPromoteType == 1) {
          filePromoteType = "skcpns";
        } else if (this.docPromoteType == 2) {
          filePromoteType = "skpns";
        } else if (this.docPromoteType == 3) {
          filePromoteType = "skp";
        } else {
          filePromoteType = "skp";
        }

        formData.append(
          filePromoteType,
          this.docPromoteFile,
          this.docPromoteFile.name
        );

        const payload = {
          file: formData,
          notify: this.$vs.notify
        };

        this.$store.dispatch(RMD_UPLOAD, payload);
        this.docPromoteFilename = null;
        this.docPromoteFile = null;
        this.docPromoteType = null;
        this.fetchEmployee();
        setTimeout(this.fetchReminderDocs, 5000);
      }
    }
  }
};
</script>

<style lang="scss">
#app-employee {
  .vs-con-table {
    .vs-table--thead {
      th {
        .vs-table-text {
          text-transform: uppercase;
        }
      }
    }
    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>
