<template>
  <div class="main-home">
    <div class="vx-row">
      <div class="vx-col w-full mb-base">
        <vx-card>
          <p v-if="!calendar">Sedang memuat halaman...</p>
          <ul v-else>
            <li
              v-for="(calendarItem, calendarIndex) in calendar"
              :key="`calendar-${calendarIndex}`"
            >
              <div class="flex items-center text-lg font-bold">
                <div class="w-3/12 uppercase">{{ calendarItem.date | format_date }}</div>
                <!-- <div class="w-8/12"> -->
                <div class="w-9/12">
                  <div class="vs-component vs-divider">
                    <span
                      class="vs-divider-border after"
                      style="width: 100%; border-top: 2px solid rgba(0, 0, 0, 0.1);"
                    ></span>
                    <span
                      class="vs-divider-border before"
                      style="width: 100%; border-top: 2px solid rgba(0, 0, 0, 0.1);"
                    ></span>
                  </div>
                </div>
                <!-- <div class="w-1/12">
                  <vs-switch
                    class="float-right"
                    color="primary"
                    v-model="activeList[calendarIndex]"
                  />
                </div>-->
              </div>
              <!-- v-show="activeList[calendarIndex]" -->
              <ul v-if="calendarItem.events.length > 0">
                <li
                  v-for="(agenda, agendaIndex) in calendarItem.events"
                  :key="`agd-${agendaIndex}`"
                >
                  <div
                    class="vx-card my-3 p-3"
                    style="background-color: #E6E6E6;"
                    v-if="getDayType(agenda.start, agenda.end) == 0"
                  >
                    <div class="vx-row" style="color: #B6B6B6">
                      <div class="vx-col w-3/12 flex justify-center items-center">
                        <span
                          class="font-medium"
                        >{{ agenda.start | time }} - {{ agenda.end | time }}</span>
                      </div>
                      <div class="vx-col w-9/12">
                        <p class="font-medium uppercase">{{ agenda.title }}</p>
                        <p class="font-normal">{{ agenda.desc }}</p>
                        <!-- <p class="font-normal">{{ agenda.location }}</p> -->
                      </div>
                    </div>
                  </div>
                  <div
                    class="vx-card my-3 p-3"
                    style="background-color: #495678;"
                    v-else-if="getDayType(agenda.start, agenda.end) == 1"
                  >
                    <div class="vx-row" style="color: #f7fafc">
                      <div class="vx-col w-3/12 flex justify-center items-center">
                        <span
                          class="font-semibold text-lg"
                        >{{ agenda.start | time }} - {{ agenda.end | time }}</span>
                      </div>
                      <div class="vx-col w-9/12">
                        <p class="font-bold uppercase">{{ agenda.title }}</p>
                        <p class="font-semibold">{{ agenda.desc }}</p>
                        <!-- <p class="font-normal">{{ agenda.location }}</p> -->
                      </div>
                    </div>
                  </div>
                  <div
                    class="vx-card my-3 p-3"
                    style="background-color: #e0e0e0;"
                    v-else-if="getDayType(agenda.start, agenda.end) == 2"
                  >
                    <div class="vx-row" style="color: #545454">
                      <div class="vx-col w-3/12 flex justify-center items-center">
                        <span
                          class="font-semibold text-lg"
                        >{{ agenda.start | time }} - {{ agenda.end | time }}</span>
                      </div>
                      <div class="vx-col w-9/12">
                        <p class="font-semibold uppercase">{{ agenda.title }}</p>
                        <p class="font-medium">{{ agenda.desc }}</p>
                        <!-- <p class="font-normal">{{ agenda.location }}</p> -->
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <p v-else class="italic font-light text-center">Tidak ada agenda untuk hari ini.</p>
            </li>
          </ul>
        </vx-card>
      </div>

      <div
        class="vx-col w-full sm:w-full md:w-1/3 lg:w-1/3 mb-base"
        v-if="userDisplayRole == 'admin'"
      >
        <vx-card
          title-color="#fff"
          content-color="#fff"
          card-background="linear-gradient(120deg, #0f9b0f, #a8e063)"
        >
          <div class="text-center">
            <h4 class="font-semibold text-white">Kenaikan Jabatan Bulan</h4>
            <h4 class="font-semibold text-white">{{ monthNames[currentDate.getMonth()] }}</h4>
          </div>
          <div class="vs-component vs-divider">
            <span
              class="vs-divider-border after"
              style="width: 100%; border-top: 2px solid rgba(255, 255, 255, 0.5);"
            ></span>
            <span
              class="vs-divider-border before"
              style="width: 100%; border-top: 2px solid rgba(255, 255, 255, 0.5);"
            ></span>
          </div>
          <p v-if="!promotionsBoard">Sedang memuat halaman...</p>
          <p
            v-else-if="!promotionsBoard.length || promotionsBoard.length == 0"
            class="italic font-light text-center"
          >Tidak ada pegawai yang naik pangkat bulan ini.</p>
          <ul v-else>
            <li
              class="flex items-center mb-4"
              v-for="(employee, index) in promotionsBoard"
              :key="`promote-${index}`"
            >
              <div class="mr-3">
                <vs-avatar
                  v-if="employee.picture.startsWith('http')"
                  class="m-0"
                  :src="api_url.slice(0, -1) + employee.picture"
                  size="50px"
                />
                <vs-avatar
                  v-else
                  class="m-0"
                  :src="require(`@/assets/images/portrait/user.png`)"
                  size="50px"
                />
              </div>
              <div>
                <p class="font-semibold text-md">{{ employee.name }}</p>
                <span class="font-medium text-md">{{ employee.jabatan.nama }}</span>
                <p class="text-sm">{{ employee.promotion | format_date_sm }}</p>
              </div>
            </li>
          </ul>
        </vx-card>
      </div>
      <div
        class="vx-col w-full sm:w-full md:w-1/3 lg:w-1/3 mb-base"
        v-if="userDisplayRole == 'admin'"
      >
        <vx-card
          title-color="#fff"
          content-color="#fff"
          card-background="linear-gradient(120deg, #F37335, #FDC830)"
        >
          <div class="text-center">
            <h4 class="font-semibold text-white">Ulang Tahun Bulan</h4>
            <h4 class="font-semibold text-white">{{ monthNames[currentDate.getMonth()] }}</h4>
          </div>
          <div class="vs-component vs-divider">
            <span
              class="vs-divider-border after"
              style="width: 100%; border-top: 2px solid rgba(255, 255, 255, 0.5);"
            ></span>
            <span
              class="vs-divider-border before"
              style="width: 100%; border-top: 2px solid rgba(255, 255, 255, 0.5);"
            ></span>
          </div>
          <p v-if="!birthdayBoard">Sedang memuat halaman...</p>
          <p
            v-else-if="!birthdayBoard.length || birthdayBoard.length == 0"
            class="italic font-light text-center"
          >Tidak ada pegawai yang berulang tahun bulan ini.</p>
          <ul v-else>
            <li
              class="flex items-center mb-4"
              v-for="(employee, index) in birthdayBoard"
              :key="`birthday-${index}`"
            >
              <div class="mr-3">
                <vs-avatar
                  v-if="employee.picture.startsWith('http')"
                  class="m-0"
                  :src="api_url.slice(0, -1) + employee.picture"
                  size="50px"
                />
                <vs-avatar
                  v-else
                  class="m-0"
                  :src="require(`@/assets/images/portrait/user.png`)"
                  size="50px"
                />
              </div>
              <div>
                <p class="font-semibold text-md">{{ employee.name }}</p>
                <span class="font-medium text-md">{{ employee.jabatan.nama }}</span>
                <p class="text-sm">{{ employee.birthday | format_date_sm }}</p>
              </div>
            </li>
          </ul>
        </vx-card>
      </div>
      <div
        class="vx-col w-full sm:w-full md:w-1/3 lg:w-1/3 mb-base"
        v-if="userDisplayRole == 'admin'"
      >
        <vx-card
          title-color="#fff"
          content-color="#fff"
          card-background="linear-gradient(120deg, #7a2828, #e52d27)"
        >
          <div class="text-center">
            <h4 class="font-semibold text-white">Pensiun Bulan</h4>
            <h4 class="font-semibold text-white">{{ monthNames[currentDate.getMonth()] }}</h4>
          </div>
          <div class="vs-component vs-divider">
            <span
              class="vs-divider-border after"
              style="width: 100%; border-top: 2px solid rgba(255, 255, 255, 0.5);"
            ></span>
            <span
              class="vs-divider-border before"
              style="width: 100%; border-top: 2px solid rgba(255, 255, 255, 0.5);"
            ></span>
          </div>
          <p v-if="!retirementBoard">Sedang memuat halaman...</p>
          <p
            v-else-if="!retirementBoard.length || retirementBoard.length == 0"
            class="italic font-light text-center"
          >Tidak ada pegawai yang pensiun bulan ini.</p>
          <ul v-else>
            <li
              class="flex items-center mb-4"
              v-for="(employee, index) in retirementBoard"
              :key="`retire-${index}`"
            >
              <div class="mr-3">
                <vs-avatar
                  v-if="employee.picture.startsWith('http')"
                  class="m-0"
                  :src="api_url.slice(0, -1) + employee.picture"
                  size="50px"
                />
                <vs-avatar
                  v-else
                  class="m-0"
                  :src="require(`@/assets/images/portrait/user.png`)"
                  size="50px"
                />
              </div>
              <div>
                <p class="font-semibold text-md">{{ employee.name }}</p>
                <span class="font-medium text-md">{{ employee.jabatan.nama }}</span>
                <p class="text-sm">{{ employee.retire | format_date_sm}}</p>
              </div>
            </li>
          </ul>
        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>
import { API_URL } from "@/utils/common/config";
import { mapGetters } from "vuex";
import {
  BRD_FETCH_CALENDAR,
  BRD_FETCH_EMPLOYEE
} from "../../store/action-types";

export default {
  data() {
    return {
      monthNames: [
        "Januari",
        "Februari",
        "Maret",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Agustus",
        "September",
        "Oktober",
        "November",
        "Desember"
      ],
      currentDate: new Date(Date.now()),
      api_url: API_URL
    };
  },
  computed: {
    ...mapGetters([
      "calendar",
      "promotionsBoard",
      "birthdayBoard",
      "retirementBoard",
      "userDisplayRole",
      "activeList"
    ])
  },
  mounted() {
    this.fetchCalendar();
    this.fetchEmployeeBoard("promotion");
    this.fetchEmployeeBoard("birthday");
    this.fetchEmployeeBoard("retire");
  },
  methods: {
    fetchCalendar() {
      const payload = {
        notify: this.$vs.notify,
        attempt: 3
      };
      this.$store.dispatch(BRD_FETCH_CALENDAR, payload);
    },
    fetchEmployeeBoard(type) {
      const payload = {
        notify: this.$vs.notify,
        type: type
      };
      this.$store.dispatch(BRD_FETCH_EMPLOYEE, payload);
    },
    getDayType(start, end) {
      const now = new Date(Date.now());
      const start_date = new Date(start);
      const end_date = new Date(end);

      if (now > start_date) {
        if (now > end_date) {
          // unactive
          return 0;
        } else {
          // active
          return 1;
        }
      } else if (now <= start_date) {
        if (now.getDate() == start_date.getDate()) {
          // active
          return 1;
        } else {
          // future
          return 2;
        }
      }
    }
  }
};
</script>
