<template>
  <div class="app-notification" id="notif-app">
    <div class="vx-row">
      <div class="vx-col w-full mb-base">
        <vs-divider class="mt-0">
          <p class="font-medium text-base">Belum Dibaca</p>
        </vs-divider>
        <p v-if="!unreadNotifications">Sedang memuat halaman...</p>
        <vx-card v-else>
          <div
            :class="{ 'app-fixed-height': unreadNotifications.length >= 15 }"
            slot="no-body"
          >
            <VuePerfectScrollbar
              class="notif-content-scroll-area"
              :settings="settings"
            >
              <transition-group
                name="list-enter-up"
                class="notif__items"
                tag="ul"
                appear
              >
                <li
                  class="cursor-pointer notif__notif-item"
                  v-for="(unreadNotif, unreadIndex) in unreadNotifications"
                  :key="`unreadNotif-${unreadIndex}`"
                  @click.stop="
                    updateOpenNotif(unreadNotif.notif_id, unreadIndex, 'unread')
                  "
                  :style="{ transitionDelay: unreadIndex * 0.05 + 's' }"
                >
                  <notification-item
                    :notif="unreadNotif"
                    :isNotifOpen="isNotifOpen(unreadNotif.notif_id)"
                    :isSelected="isNotifSelected(unreadNotif.notif_id)"
                    @addToSelected="addToSelectedNotifs"
                    @removeSelected="removeSelectedNotif"
                  ></notification-item>
                </li>
              </transition-group>
            </VuePerfectScrollbar>
          </div>
        </vx-card>
      </div>
      <div class="vx-col w-full mb-base">
        <vs-divider>
          <p class="font-medium text-base">Sudah Dibaca</p>
        </vs-divider>
        <p v-if="!openedNotifications">Sedang memuat halaman...</p>
        <vx-card v-else>
          <div
            :class="{ 'app-fixed-height': openedNotifications.length >= 15 }"
            slot="no-body"
          >
            <VuePerfectScrollbar
              class="notif-content-scroll-area"
              :settings="settings"
            >
              <transition-group
                name="list-enter-up"
                class="notif__items"
                tag="ul"
                appear
              >
                <li
                  class="cursor-pointer notif__notif-item"
                  v-for="(openedNotif, openedIndex) in openedNotifications"
                  :key="`openedNotif-${openedIndex}`"
                  @click.stop="
                    updateOpenNotif(openedNotif.notif_id, openedIndex, 'opened')
                  "
                  :style="{ transitionDelay: openedIndex * 0.05 + 's' }"
                >
                  <notification-item
                    :notif="openedNotif"
                    :isNotifOpen="isNotifOpen(openedNotif.notif_id)"
                    :isSelected="isNotifSelected(openedNotif.notif_id)"
                    @addToSelected="addToSelectedNotifs"
                    @removeSelected="removeSelectedNotif"
                  ></notification-item>
                </li>
              </transition-group>
            </VuePerfectScrollbar>
          </div>
        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import NotificationItem from "./NotificationItem";
import { mapGetters } from "vuex";
import { NTF_FETCH_ALL, NTF_SELECT } from "../../store/action-types";

export default {
  data() {
    return {
      openNotifId: null,
      selectedNotifs: [],
      settings: {
        maxScrollbarLength: 60,
        wheelSpeed: 0.3
      }
    };
  },
  computed: {
    ...mapGetters([
      "userDisplayRole",
      "currentUser",
      "openedNotifications",
      "unreadNotifications"
    ]),
    isNotifOpen() {
      return notifId => notifId == this.openNotifId;
    },
    isNotifSelected() {
      return notifId =>
        this.selectedNotifs.indexOf(notifId) == -1 ? false : true;
    }
  },
  mounted() {
    this.fetchNotifications();
  },
  methods: {
    fetchNotifications() {
      const payload = {
        role: this.userDisplayRole,
        notify: this.$vs.notify
      };
      this.$store.dispatch(NTF_FETCH_ALL, payload);
    },
    updateOpenNotif(notifId, index, notifType) {
      this.openNotifId = notifId;
      let notifications = [];
      if (notifType == "unread") {
        notifications = this.unreadNotifications;
      } else if (notifType == "opened") {
        notifications = this.openedNotifications;
      }

      if (
        notifications[index].notif_id == notifId &&
        !notifications[index].read.read_status
      ) {
        const payload = {
          reader: {
            role: this.userDisplayRole,
            read_status: true,
            name: this.currentUser.fullname,
            nip: this.currentUser.nip,
            email: this.currentUser.email,
            notif_index: index
          },
          notif_id: notifId,
          notify: this.$vs.notify
        };
        this.$store.dispatch(NTF_SELECT, payload);
      }

      let type = null;
      if (notifications[index].notif_type === "1") {
        type = "promotion";
      } else if (notifications[index].notif_type === "2") {
        type = "retirement";
      } else {
        type = null;
      }

      if (this.userDisplayRole == "admin" && type) {
        this.$router.push({
          name: type + "-" + "employee",
          query: { nip: notifications[index].receiver.nip }
        });
      }
    },
    addToSelectedNotifs(notifId) {
      this.selectedNotifs.push(notifId);
    },
    removeSelectedNotif(notifId) {
      const notifIndex = this.selectedNotifs.indexOf(notifId);
      if (notifIndex > -1) {
        this.selectedNotifs.splice(notifIndex, 1);
      }
    }
  },
  components: {
    NotificationItem,
    VuePerfectScrollbar
  }
};
</script>

<style lang="scss">
#notif-app {
  .notif-scroll-area {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .notif-content-scroll-area {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .notif__items {
    .notif__opened-notif {
      background-color: #eee;
    }
  }

  .notif__items {
    .notif__notif-item {
      transition: all 0.35s;

      &:not(:first-of-type) {
        .notif__notif-item {
          border-top: 1px solid #dae1e7;
        }
      }

      .notif__notif-item {
        transition: all 0.2s;

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0px 3px 10px 0px #ccc;
          transition: all 0.2s;
        }
      }
    }
  }
}
</style>
