<template>
  <div class="app-profile" id="app-profile">
    <p v-if="!profile">Sedang memuat halaman...</p>
    <div class="vx-row" v-else>
      <div
        class="vx-col w-full mb-base"
        :class="{
          'md:w-2/3 lg:w-2/3 xl:w-2/3':
            (profile.reminder_retirement_sent ||
              profile.reminder_promotion_sent) == true
        }"
      >
        <vx-card>
          <vs-avatar
            v-if="profile.picture.startsWith('http')"
            class="mx-auto my-6 block"
            size="128px"
            :src="profile.picture"
          />
          <vs-avatar
            v-else-if="profile.picture == ``"
            class="mx-auto my-4 block"
            size="128px"
            :src="require(`@/assets/images/portrait/user.png`)"
          />
          <vs-avatar
            v-else
            class="mx-auto my-6 block"
            size="128px"
            :src="getUrl(profile.picture)"
          />
          <div class="text-center">
            <h4 class="font-semibold">{{ profile.name }}</h4>
            <h5 class="font-normal mt-2">{{ profile.unit }}</h5>
          </div>
          <div class="flex justify-center mt-4">
            <vs-input
              class="w-1/2 mr-2"
              type="file"
              v-model="filename"
              id="photoFile"
              ref="photoFile"
              @change="setPhoto"
              v-if="editPhoto"
            />
            <vs-button
              type="filled"
              size="default"
              icon-pack="feather"
              icon="icon-check"
              color="success"
              class="mr-2"
              @click="startUpload"
              v-if="editPhoto"
            ></vs-button>
            <vs-button
              type="border"
              size="default"
              icon-pack="feather"
              icon="icon-x"
              color="danger"
              class="mr-2"
              @click="cancelEditPhoto"
              v-if="editPhoto"
            ></vs-button>
            <vs-button
              type="border"
              size="default"
              icon-pack="feather"
              icon="icon-camera"
              color="primary"
              class="mr-2"
              @click="startEditPhoto"
              v-if="!editPhoto"
              >Ubah Photo Profile</vs-button
            >
          </div>

          <!-- PLACEHOLDER IDENTITAS -->
          <div class="mt-10">
            <vs-divider>
              <p class="font-medium text-base">Identitas</p>
            </vs-divider>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">NIK</p>
                <p class="text-base text-left">{{ profile.nik }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">Jenis Kelamin</p>
                <p class="text-base text-center">
                  {{
                    decoder.gender2.filter(
                      item => item.value == profile.gender
                    )[0].text
                  }}
                </p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">Agama</p>
                <p class="text-base text-right">{{ profile.religion }}</p>
              </div>
            </div>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">Kelahiran</p>
                <p class="text-base text-left">
                  {{ profile.birth_place }},
                  {{ profile.birth_date | format_date }}
                </p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">Status Kawin</p>
                <p class="text-base text-center">
                  {{ profile.marital_status }}
                </p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">Jumlah Anak</p>
                <p class="text-base text-right">{{ profile.num_of_child }}</p>
              </div>
            </div>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">Alamat</p>
                <p class="text-base text-left">{{ profile.address }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">
                  Golongan Darah
                </p>
                <p class="text-base text-center">{{ profile.blood_type }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">Email</p>
                <p class="text-base text-right">{{ profile.email }}</p>
              </div>
            </div>
          </div>

          <!-- PLACEHOLDER KEPEGAWAIAN -->
          <div class="mt-10">
            <vs-divider>
              <p class="font-medium text-base">Kepegawaian</p>
            </vs-divider>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">NIP</p>
                <p class="text-base text-left">{{ profile.nip }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">
                  Status Kepegawaian
                </p>
                <p class="text-base text-center">{{ profile.position_type }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">Status Akun</p>
                <p class="text-base text-right">{{ userDisplayRole }}</p>
              </div>
            </div>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">Jabatan</p>
                <p class="text-base text-left">{{ profile.jabatan.nama }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">
                  Tanggal Keputusan
                </p>
                <p class="text-base text-center">
                  {{ profile.jabatan.tanggal | format_date }}
                </p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">
                  Nomor Keputusan
                </p>
                <p class="text-base text-right">
                  {{ profile.jabatan.keputusan }}
                </p>
              </div>
            </div>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">Golongan</p>
                <p class="text-base text-left">
                  {{ profile.golongan.ruang }} / {{ profile.golongan.nama }}
                </p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">
                  Tanggal Pengesahan
                </p>
                <p class="text-base text-center">
                  {{ profile.golongan.tanggal | format_date }}
                </p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">Jumlah Cuti</p>
                <p class="text-base text-right">{{ profile.cuti }}</p>
              </div>
            </div>
          </div>

          <div class="mt-10">
            <vs-divider>
              <p class="font-medium text-base">Pendidikan</p>
            </vs-divider>
            <p
              v-if="!profile.education.length"
              class="italic font-light text-center"
            >
              {{ profile.name }} tidak memiliki riwayat pendidikan.
            </p>
            <ul
              class="px-2"
              v-else
              v-for="(edu, index) in profile.education"
              :key="`edu-${index}`"
            >
              <li>
                <div class="mb-5">
                  <p class="font-semibold text-base">
                    {{ edu.year }} - {{ edu.institution }}
                  </p>
                  <p class="text-base">{{ edu.degree }} {{ edu.major }}</p>
                </div>
              </li>
            </ul>
          </div>

          <div class="mt-10">
            <vs-divider>
              <p class="font-medium text-base">Diklat</p>
            </vs-divider>
            <p
              v-if="!profile.diklat.length"
              class="italic font-light text-center"
            >
              {{ profile.name }} tidak memiliki riwayat diklat.
            </p>
            <ul
              class="px-2"
              v-else
              v-for="(dik, index) in profile.diklat"
              :key="`dik-${index}`"
            >
              <li>
                <div class="mb-5">
                  <p class="text-base font-semibold">
                    {{ dik.year }} - {{ dik.name }}
                  </p>
                  <p class="text-base">{{ dik.name }} {{ dik.year }}</p>
                </div>
              </li>
            </ul>
          </div>
        </vx-card>
      </div>

      <div
        class="vx-col w-full md:w-1/3 lg:w-1/3 xl:w-1/3 mb-base"
        v-show="profile.reminder_promotion_sent"
      >
        <vx-card>
          <div class="text-center">
            <h4 class="font-semibold">Status Persyaratan Kenaikan Pangkat</h4>
          </div>
          <div class="vs-component vs-divider">
            <span
              class="vs-divider-border after"
              style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
            ></span>
            <span
              class="vs-divider-border before"
              style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
            ></span>
          </div>
          <p v-if="!promoteDocs">Sedang memuat halaman...</p>
          <ul class="mt-base" v-else>
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SK CPNS</p>
                <span class="text-base"
                  >Surat Keterangan Calon Pegawai Negeri Sipil</span
                >
              </div>
              <div class="ml-auto">
                <vs-checkbox
                  color="primary"
                  disabled="true"
                  :value="checkDocs(1, 1)"
                />
              </div>
            </li>
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SK PNS</p>
                <span class="text-base"
                  >Surat Keterangan Pegawai Negeri Sipil</span
                >
              </div>
              <div class="ml-auto">
                <vs-checkbox
                  color="primary"
                  disabled="true"
                  :value="checkDocs(1, 2)"
                />
              </div>
            </li>
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SK Pangkat</p>
                <span class="text-base"
                  >Surat Keterangan Kenaikan Pangkat Terakhir</span
                >
              </div>
              <div class="ml-auto">
                <vs-checkbox
                  color="primary"
                  disabled="true"
                  :value="checkDocs(1, 3)"
                />
              </div>
            </li>
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SKP / DP3</p>
                <span class="text-base"
                  >Sasaran Kerja Pegawai / Daftar Penilaian Pelaksanaan
                  Pekerjaan</span
                >
              </div>
              <div class="ml-auto">
                <vs-checkbox
                  color="primary"
                  disabled="true"
                  :value="checkDocs(1, 4)"
                />
              </div>
            </li>
          </ul>
        </vx-card>
      </div>

      <div
        class="vx-col w-full md:w-1/3 lg:w-1/3 xl:w-1/3 mb-base"
        v-show="profile.reminder_retirement_sent"
      >
        <vx-card>
          <div class="text-center">
            <h4 class="font-semibold">Status Persyaratan Pensiun</h4>
          </div>
          <div class="vs-component vs-divider">
            <span
              class="vs-divider-border after"
              style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
            ></span>
            <span
              class="vs-divider-border before"
              style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
            ></span>
          </div>
          <p v-if="!retireDocs">Sedang memuat halaman...</p>
          <ul class="mt-base" v-else>
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SK Pensiun</p>
                <span class="text-base">Surat Keterangan Pensiun</span>
              </div>
              <div class="ml-auto">
                <vs-checkbox
                  color="primary"
                  disabled="true"
                  v-model="checkSkpensiun"
                />
              </div>
            </li>
          </ul>
        </vx-card>
      </div>

      <div class="vx-col w-full mb-base">
        <vx-card title="Tabel Dokumen">
          <p v-if="!profileDocs">Sedang memuat halaman...</p>
          <vs-table stripe search max-items="5" pagination :data="profileDocs">
            <div
              slot="header"
              class="flex flex-wrap-reverse items-center flex-grow justify-between"
            >
              <div class="flex items-center">
                <span class="text-base mr-2">Upload Dokumen:</span>
                <vs-input
                  class="w-1/2 mr-2"
                  type="file"
                  v-model="docFilename"
                  id="docFile"
                  ref="docFile"
                  @change="setDoc"
                />
                <vs-select
                  v-model="docType"
                  class="w-1/2 mr-2"
                  name="docType"
                  placeholder="Jenis Dokumen"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item, index) in docOptions"
                    class="w-full"
                  />
                </vs-select>
                <vs-button
                  color="primary"
                  type="border"
                  icon-pack="feather"
                  icon="icon-upload"
                  class="mr-2"
                  @click="startUploadDoc"
                ></vs-button>
              </div>
            </div>

            <template slot="thead">
              <vs-th>Judul</vs-th>
              <vs-th>Jenis</vs-th>
              <vs-th>Aksi</vs-th>
            </template>

            <template slot-scope="{ data }">
              <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                <vs-td :data="tr.title">{{ tr.title }}</vs-td>
                <vs-td :data="tr.type">{{
                  decoder.documentPersonal.filter(
                    item => item.value == tr.type
                  )[0].text
                }}</vs-td>
                <vs-td>
                  <div class="flex">
                    <vx-tooltip text="Download" position="bottom" delay=".3s">
                      <vs-button
                        type="filled"
                        size="default"
                        icon-pack="feather"
                        icon="icon-download"
                        color="success"
                        class="mr-2"
                      ></vs-button>
                    </vx-tooltip>
                  </div>
                </vs-td>
              </vs-tr>
            </template>
          </vs-table>
        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>
import FileUpload from "vue-upload-component";
import { mapGetters } from "vuex";
import {
  PROFILE_FETCH,
  PROFILE_UPLOAD,
  RMD_DOCS
} from "../../store/action-types";
import decoder from "@/utils/decoder";
import { API_URL } from "@/utils/common/config";

export default {
  components: {
    FileUpload
  },
  data() {
    return {
      API_URL: API_URL,
      checkSkpensiun: false,
      decoder: decoder,
      editPhoto: false,
      filename: null,
      photoFile: null,
      docFilename: null,
      docFile: null,
      docOptions: decoder.documentPersonal,
      docType: null,
      headers: {
        "Content-Type": "multipart/form-data",
        Authorization: this.axios.defaults.headers.common["Authorization"]
      }
    };
  },
  computed: {
    ...mapGetters([
      "profile",
      "profileDocs",
      "retireDocs",
      "promoteDocs",
      "userDisplayRole"
    ])
  },
  mounted() {
    this.fetchProfile();
    setTimeout(this.fetchReminderDocs, 5000);
  },
  methods: {
    fetchProfile() {
      this.$vs.loading({
        type: "sound"
      });
      const payload = {
        notify: this.$vs.notify,
        closeLoading: this.$vs.loading.close
      };
      this.$store.dispatch(PROFILE_FETCH, payload);
    },
    fetchReminderDocs() {
      this.$vs.loading({
        type: "sound"
      });
      if (!this.profile.reminder_promotion_sent) {
        const payload = {
          notify: this.$vs.notify,
          closeLoading: this.$vs.loading.close,
          nip: this.profile.nip,
          type: 1
        };
        this.$store.dispatch(RMD_DOCS, payload);
      }
      if (this.profile.reminder_retirement_sent) {
        const payload = {
          notify: this.$vs.notify,
          closeLoading: this.$vs.loading.close,
          nip: this.profile.nip,
          type: 2
        };
        this.$store.dispatch(RMD_DOCS, payload);
      }
    },
    startEditPhoto() {
      this.filename = null;
      this.photoFile = null;
      this.editPhoto = true;
    },
    cancelEditPhoto() {
      this.filename = null;
      this.photoFile = null;
      this.editPhoto = false;
    },
    setPhoto() {
      this.photoFile = this.$refs.photoFile.$refs.vsinput.files[0];
    },
    startUpload() {
      if (!this.photoFile) {
        this.$vs.notify({
          time: 10000,
          title: "Terjadi Kesalahan.",
          text: "Anda belum memilih file untuk di upload.",
          icon: "error",
          color: "danger",
          position: "top-center"
        });
      } else {
        let formData = new FormData();
        formData.append("picture", this.photoFile, this.photoFile.name);

        const payload = {
          file: formData,
          notify: this.$vs.notify
        };

        this.$store.dispatch(PROFILE_UPLOAD, payload);
        this.cancelEditPhoto();
        this.fetchProfile();
      }
    },
    getUrl(val) {
      const url = require("url");
      return url.resolve(this.API_URL, val);
    },
    setDoc() {
      this.docFile = this.$refs.docFile.$refs.vsinput.files[0];
    },
    startUploadDoc() {
      if (!this.docFile) {
        this.$vs.notify({
          time: 10000,
          title: "Terjadi Kesalahan.",
          text: "Anda belum memilih file untuk di upload.",
          icon: "error",
          color: "danger",
          position: "top-center"
        });
      } else if (!this.docType) {
        this.$vs.notify({
          time: 10000,
          title: "Terjadi Kesalahan.",
          text: "Anda belum memilih jenis file.",
          icon: "error",
          color: "danger",
          position: "top-center"
        });
      } else {
        let formData = new FormData();
        formData.append(this.docType, this.docFile, this.docFile.name);

        const payload = {
          file: formData,
          notify: this.$vs.notify
        };

        this.$store.dispatch(PROFILE_UPLOAD, payload);
        this.docFilename = null;
        this.docFile = null;
        this.docType = null;
        this.fetchProfile();
      }
    },
    checkDocs(type, docNum) {
      let check;
      if (type == 1) {
        check = this.promoteDocs.filter(item => item.type == docNum);
        if (check.length == 1) {
          if (check[0].url == "") {
            return false;
          } else {
            return true;
          }
        } else {
          return false;
        }
      } else if (type == 2) {
        check = this.retireDocs.filter(item => item.type == docNum);
        if (check.length == 1) {
          if (check[0].url == "") {
            return false;
          } else {
            return true;
          }
        } else {
          return false;
        }
      }
    }
  }
};
</script>

<style lang="scss">
#app-profile {
  .vs-con-table {
    .vs-table--thead {
      th {
        .vs-table-text {
          text-transform: uppercase;
        }
      }
    }
    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>
