<template>
  <div class="app-promotion" id="app-promotion">
    <vx-card title="Tabel Kenaikan Jabatan" refresh-content-action>
      <p v-if="!users">Sedang memuat halaman...</p>
      <vs-table stripe search max-items="15" pagination :data="users" v-else>
        <template slot="thead">
          <vs-th>Nama</vs-th>
          <vs-th>NIP</vs-th>
          <vs-th>Jabatan</vs-th>
          <vs-th>Tanggal Kenaikan Jabatan</vs-th>
          <vs-th>Status</vs-th>
          <vs-th>Proses</vs-th>
        </template>

        <template slot-scope="{ data }">
          <vs-tr :data="tr" :key="`emp-${indextr}`" v-for="(tr, indextr) in data">
            <vs-td :data="tr.fullname">{{ tr.fullname }}</vs-td>
            <vs-td :data="tr.nip">{{ tr.nip }}</vs-td>
            <vs-td :data="tr.role">{{ tr.role }}</vs-td>
            <vs-td :data="tr.join_date">{{ tr.join_date }}</vs-td>
            <vs-td :data="tr.status">
              <vs-chip :color="statusColor(tr.status)">
                <b>{{ statusDecoder(tr.status) }}</b>
              </vs-chip>
            </vs-td>
            <vs-td :data="tr.state">{{ stateDecoder(tr.state) }}</vs-td>

            <template class="expand-user" slot="expand">
              <div class="con-expand-users w-full">
                <div class="con-btns-user flex items-center justify-between">
                  <div class="con-userx flex items-center justify-start">
                    <vs-avatar v-if="tr.picture.startsWith('http')" size="60px" :src="tr.picture" />
                    <vs-avatar
                      v-else
                      size="60px"
                      :src="require(`@/assets/images/portrait/user.png`)"
                    />
                    <div class="ml-3">
                      <!-- <h5>{{ tr.name }}</h5>
                      <p class="text-base font-medium">{{ tr.jabatan.nama }}</p>
                      <p>{{ tr.position_type }}</p>-->
                      <h5>{{ tr.fullname }}</h5>
                      <p class="text-base font-medium">{{ tr.role }}</p>
                      <p>{{ tr.unit }}</p>
                    </div>
                  </div>
                  <div class="flex">
                    <vs-button
                      v-if="!tr.is_reminded"
                      type="filled"
                      size="default"
                      icon-pack="feather"
                      icon="icon-bell"
                      class="mr-2"
                      @click="promote(tr.nip, 'reminder')"
                    >Kirim Reminder</vs-button>
                    <vs-button
                      v-else
                      type="filled"
                      size="default"
                      icon-pack="feather"
                      icon="icon-send"
                      color="success"
                      class="mr-2"
                      @click="promote(tr.nip, 'update')"
                    >Update Data</vs-button>
                    <vx-tooltip text="Halaman Profile" position="bottom" delay=".3s">
                      <vs-button
                        type="border"
                        size="default"
                        icon-pack="feather"
                        icon="icon-user"
                        color="primary"
                        class="mr-2"
                        @click="getProfile(tr.nip)"
                      ></vs-button>
                    </vx-tooltip>
                  </div>
                </div>
                <vs-divider>
                  <!-- Kelengkapan Dokumen Kenaikan Jabatan -->
                  <p class="font-medium">Kelengkapan Dokumen Kenaikan Jabatan</p>
                </vs-divider>
                <ul class="px-2">
                  <li class="flex items-center mb-4">
                    <div>
                      <p class="font-semibold text-base">SK CPNS</p>
                      <span class="text-base">Surat Keterangan Calon Pegawai Negeri Sipil</span>
                    </div>
                    <div class="ml-auto">
                      <vs-checkbox color="primary" disabled="true" v-model="checkSkcpns" />
                    </div>
                  </li>
                  <li class="flex items-center mb-4">
                    <div>
                      <p class="font-semibold text-base">SK PNS</p>
                      <span class="text-base">Surat Keterangan Pegawai Negeri Sipil</span>
                    </div>
                    <div class="ml-auto">
                      <vs-checkbox color="primary" disabled="true" v-model="checkSkpns" />
                    </div>
                  </li>
                  <li class="flex items-center mb-4">
                    <div>
                      <p class="font-semibold text-base">SK Pangkat</p>
                      <span class="text-base">Surat Keterangan Kenaikan Pangkat Terakhir</span>
                    </div>
                    <div class="ml-auto">
                      <vs-checkbox color="primary" disabled="true" v-model="checkSkpt" />
                    </div>
                  </li>
                  <li class="flex items-center mb-4">
                    <div>
                      <p class="font-semibold text-base">SKP / DP3</p>
                      <span
                        class="text-base"
                      >Sasaran Kerja Pegawai / Daftar Penilaian Pelaksanaan Pekerjaan</span>
                    </div>
                    <div class="ml-auto">
                      <vs-checkbox color="primary" disabled="true" v-model="checkSkpdp3" />
                    </div>
                  </li>
                </ul>
              </div>
            </template>
          </vs-tr>
        </template>
      </vs-table>
    </vx-card>
  </div>
</template>

<script>
import employees from "@/assets/json/reminder";

export default {
  data() {
    return {
      users: employees,
      checkSkcpns: true,
      checkSkpns: true,
      checkSkpt: false,
      checkSkpdp3: false
    };
  },
  methods: {
    statusColor(val) {
      if (val == 1) {
        return "success";
      } else if (val == 2) {
        return "warning";
      } else if (val == 3) {
        return "danger";
      }
    },
    statusDecoder(val) {
      if (val == 1) {
        return "Lajang";
      } else if (val == 2) {
        return "Menikah";
      } else if (val == 3) {
        return "Jomblo";
      }
    },
    stateDecoder(val) {
      if (val == 1) {
        return "Reminder Belum Dikirim";
      } else if (val == 2) {
        return "Reminder Terkirim";
      } else if (val == 3) {
        return "Validasi";
      }
    },
    getProfile(nip) {
      this.$vs.notify({
        time: 10000,
        title: "Yahuuu",
        text: "You pressed get profile button.",
        icon: "check",
        color: "success",
        position: "top-center"
      });
      // this.$router.push({
      //   name: "database-employee-profile",
      //   query: { nip: nip }
      // });
    },
    promote(nip, type = "reminder") {
      if (type == "reminder") {
        this.$vs.notify({
          time: 10000,
          title: "Yahuuu",
          text: "You pressed send reminder button.",
          icon: "check",
          color: "primary",
          position: "top-center"
        });
        // this.$router.push({
        //   name: "database-employee-profile",
        //   query: { nip: nip }
        // });
      } else if (type == "update") {
        this.$vs.notify({
          time: 10000,
          title: "Yahuuu",
          text: "You pressed update data button.",
          icon: "check",
          color: "success",
          position: "top-center"
        });
        // this.$router.push({
        //   name: "database-employee-profile-edit",
        //   query: { nip: nip }
        // });
      }
    }
  }
};
</script>

<style lang="scss">
#app-promotion {
  .vs-con-table {
    .vs-table--thead {
      th {
        .vs-table-text {
          text-transform: uppercase;
        }
      }
    }
    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>