<template>
  <div class="h-screen flex w-full bg-img">
    <div class="vx-col w-4/5 sm:w-4/5 md:w-3/5 lg:w-3/4 xl:w-3/5 mx-auto self-center">
      <vx-card>
        <div slot="no-body" class="full-page-bg-color">
          <div class="vx-row">
            <div class="vx-col hidden sm:hidden md:hidden lg:block lg:w-1/2 mx-auto self-center">
              <img src="@/assets/images/pages/forgot-password.png" alt="login" class="mx-auto" />
            </div>
            <div class="vx-col sm:w-full md:w-full lg:w-1/2 mx-auto self-center d-theme-dark-bg">
              <div class="p-8">
                <div class="vx-card__title mb-8">
                  <h4 class="mb-4">Halaman Lupa Kata Sandi</h4>
                  <p>
                    Silahkan masukkan alamat email yang terdaftar pada akun ini
                    dan kami akan mengirimkan instruksi cara mengubah kata sandi
                    anda.
                  </p>
                </div>

                <vs-input
                  v-validate="'required|email'"
                  data-vv-validate-on="blur"
                  name="user-email"
                  icon="icon icon-mail"
                  icon-pack="feather"
                  label-placeholder="Email"
                  v-model="user_email"
                  class="w-full no-icon-border"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('user-email')"
                >{{ errors.first("user-email") }}</span>

                <div class="mt-6">
                  <vs-button type="border" to="/login" class="px-4 w-full md:w-auto">Kembali</vs-button>
                  <vs-button
                    class="float-right px-4 w-full md:w-auto mt-3 mb-8 md:mt-0 md:mb-0"
                    :disabled="!validateForm"
                    @click="forgotPassword"
                  >Ubah Kata Sandi</vs-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import { AUTH_FORGOT_PASSWORD } from "@/store/action-types";

export default {
  data() {
    return {
      user_email: ""
    };
  },
  created() {
    const dict = {
      custom: {
        "user-email": {
          required: "Silahkan masukkan alamat email anda.",
          email:
            "Alamat email yang anda masukkan tidak valid, silahkan periksa kembali."
        }
      }
    };
    this.$validator.localize("en", dict);
  },
  computed: {
    validateForm() {
      return !this.errors.any() && this.user_email != "";
    }
  },
  methods: {
    forgotPassword() {
      this.$vs.loading({ type: "sound" });
      const payload = {
        user_credential: {
          email: this.user_email
        },
        notify: this.$vs.notify,
        closeLoading: this.$vs.loading.close
      };
      this.$store
        .dispatch(AUTH_FORGOT_PASSWORD, payload)
        .then(() => this.$router.push({ name: "login" }));
    }
  }
};
</script>
