<template>
  <div
    class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center"
    id="page-login"
  >
    <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
      <vx-card>
        <div slot="no-body" class="full-page-bg-color">
          <div class="vx-row no-gutter justify-center items-center">
            <div class="vx-col hidden lg:block lg:w-1/2">
              <img
                src="@/assets/images/logo/logo-kemnaker-3.png"
                alt="login"
                class="mx-auto"
                width="90%"
                height="auto"
              />
            </div>
            <div class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg">
              <div class="p-8">
                <div class="vx-card__title mb-8">
                  <h4 class="mb-4">Halaman Masuk</h4>
                  <p>
                    Selamat datang kembali, silahkan masuk menggunakan akun
                    anda.
                  </p>
                </div>
                <vs-input
                  v-validate="'required|numeric|digits:18'"
                  data-vv-validate-on="blur"
                  name="user-nip"
                  icon="icon icon-user"
                  icon-pack="feather"
                  label-placeholder="Nomor Induk Pegawai"
                  v-model="user_nip"
                  class="w-full no-icon-border"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('user-nip')"
                >{{ errors.first("user-nip") }}</span>

                <vs-input
                  v-validate="'required|min:8'"
                  data-vv-validate-on="blur"
                  type="password"
                  name="user-password"
                  icon="icon icon-lock"
                  icon-pack="feather"
                  label-placeholder="Kata Sandi"
                  v-model="user_password"
                  class="w-full mt-6 no-icon-border"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('user-password')"
                >{{ errors.first("user-password") }}</span>

                <div class="flex flex-wrap justify-between my-5">
                  <vs-switch v-model="login_type">
                    <span class="font-lg" slot="on">Admin</span>
                    <span slot="off">Pegawai</span>
                  </vs-switch>
                  <router-link
                    class="font-medium"
                    :to="{ name: 'forgot-password' }"
                  >Lupa kata sandi?</router-link>
                </div>
                <vs-button
                  class="float-right w-full mb-6"
                  :disabled="!validateForm"
                  @click="login"
                >Masuk</vs-button>
                <vs-divider></vs-divider>
                <div class="flex justify-center font-medium">
                  <span>Belum aktivasi akun</span>
                  <router-link :to="{ name: 'register' }">? Aktivasi sekarang!</router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { AUTH_LOGIN, AUTH_LOGOUT, AUTH_ROLE } from "@/store/action-types";

export default {
  data() {
    return {
      user_nip: "",
      user_password: "",
      login_type: false
    };
  },
  created() {
    const dict = {
      custom: {
        "user-nip": {
          required: "Silahkan masukkan nomor induk pegawai anda.",
          numeric:
            "Nomor induk pegawai yang anda masukkan tidak valid, silahkan periksa kembali.",
          digits:
            "Nomor induk pegawai hanya mengandung 18 angka, silahkan periksa kembali"
        },
        "user-password": {
          required: "Silahkan masukkan kata sandi anda.",
          min: "Kata sandi kurang dari 8 digit, silahkan periksa kembali."
        }
      }
    };
    this.$validator.localize("en", dict);
  },
  computed: {
    ...mapGetters(["userDisplayRole"]),
    validateForm() {
      return (
        !this.errors.any() && this.user_nip != "" && this.user_password != ""
      );
    }
  },
  methods: {
    login() {
      this.$vs.loading({ type: "sound" });
      const payload = {
        user_credential: {
          nip: this.user_nip,
          password: this.user_password
        },
        login_type: this.login_type,
        notify: this.$vs.notify,
        closeLoading: this.$vs.loading.close
      };

      this.$store.dispatch(AUTH_LOGIN, payload).then(() => {
        if (this.userDisplayRole == "admin") {
          this.$acl.change("admin");
          this.$router.push(
            this.$router.currentRoute.query.to || { name: "home" }
          );
        } else if (this.userDisplayRole == "employee") {
          this.$acl.change("employee");
          this.$router.push(
            this.$router.currentRoute.query.to || { name: "profile" }
          );
        } else {
          this.$acl.change("public");
          this.$router.push(
            this.$router.currentRoute.query.to || { name: "login" }
          );
        }
      });
    }
  }
};
</script>
