@import '../_variables.scss';

.v-context {
  // background: $white !important;

  padding: 0 !important;
  border-radius: 0.5rem !important;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14) !important;

  li {
    a {
      color: inherit !important;

      &:focus,
      &:hover {
        background: #eee !important;
      }
    }
  }

  // ul li:hover {
  //  background: $primary !important;
  // }
}

.theme-dark {
  .v-context {
    background: $theme-light-dark-bg !important;

    // ul li:hover {
    //  background: $theme-light-dark-bg !important;
    // }

    li {
      a {
        color: $theme-dark-text-color !important;

        &:focus,
        &:hover {
          background: $theme-dark-bg !important;
        }
      }
    }
  }
}
