<template>
  <div class="layout--main navbar-hidden footer-sticky">
    <div id="content-area" class="content-area-full">
      <div id="content-overlay"></div>
      <div class="content-wrapper">
        <div class="router-view">
          <div class="router-content mt-0">
            <transition :name="routerTransition">
              <div
                class="router-header flex flex-wrap items-center mb-6"
                v-if="$route.meta.breadcrumb || $route.meta.pageTitle"
              >
                <div
                  class="content-area__heading"
                  :class="{
                    'pr-4 border-0 md:border-r border-t-0 border-b-0 border-l-0 border-solid border-grey-light':
                      $route.meta.breadcrumb
                  }"
                >
                  <h2 class="mb-1">{{ routeTitle }}</h2>
                </div>

                <!-- BREADCRUMB -->
                <vx-breadcrumb
                  class="ml-4 md:block hidden"
                  v-if="$route.meta.breadcrumb"
                  :route="$route"
                />
              </div>
            </transition>
            <div class="content-area__content">
              <back-to-top
                bottom="5%"
                visibleoffset="500"
                v-if="!hideScrollToTop"
              >
                <vs-button
                  icon-pack="feather"
                  icon="icon-arrow-up"
                  class="shadow-lg"
                />
              </back-to-top>
              <transition :name="routerTransition" mode="out-in">
                <router-view @changeRouteTitle="changeRouteTitle"></router-view>
              </transition>
            </div>
          </div>
        </div>
      </div>
      <p v-if="!runningText">Sedang memuat halaman...</p>
      <the-footer-marquee
        v-else
        :text="runningText.running_text"
      ></the-footer-marquee>
    </div>
  </div>
</template>

<script>
import BackToTop from "vue-backtotop";
import TheFooterMarquee from "./components/TheFooterMarquee";
import {
  UI_UPDATE_SIDEBAR_WIDTH,
  BRD_FETCH_INFORMATION
} from "@/store/action-types";
import { UI_IS_SIDEBAR_ACTIVE } from "@/store/mutation-types";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      routerTransition: "zoom-fade",
      hideScrollToTop: false,
      routeTitle: this.$route.meta.pageTitle,
      windowWidth: window.innerWidth
    };
  },
  watch: {
    $route() {
      this.routeTitle = this.$route.meta.pageTitle;
    }
  },
  computed: { ...mapGetters(["runningText"]) },
  mounted() {
    this.fetchInformation("running_text");
  },
  methods: {
    fetchInformation(type) {
      const payload = {
        notify: this.$vs.notify,
        type: type
      };
      this.$store.dispatch(BRD_FETCH_INFORMATION, payload);
    },
    changeRouteTitle(title) {
      this.routeTitle = title;
    },
    setSidebarWidth() {
      if (this.windowWidth < 1200) {
        this.$store.commit(UI_IS_SIDEBAR_ACTIVE, false);
        this.$store.dispatch(UI_UPDATE_SIDEBAR_WIDTH, "no-sidebar");
      } else if (this.windowWidth < 1200) {
        this.$store.dispatch(UI_UPDATE_SIDEBAR_WIDTH, "reduced");
      } else {
        this.$store.commit(UI_IS_SIDEBAR_ACTIVE, true);
      }
    },
    toggleHideScrollToTop(val) {
      this.hideScrollToTop = val;
    }
  },
  components: {
    BackToTop,
    TheFooterMarquee
  },
  created() {
    this.setSidebarWidth();
  }
};
</script>
