.search-tab-filter {
  padding: 0.5rem 1rem;
  border-radius: 25px;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  background: #fff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
